
/*****************************************
	      Code Test -- Hero One
*****************************************/
#use-the-force {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    color: #a6a6a6;
    letter-spacing: 1px;
}

.roman-numeral-selector {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
}

#hero1-background {
    background-image: url("/img/star-wars-background-top.jpg");
}

#hero1-lower-text {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    color: #737373;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

#hero1-lower-text h2 {
    font-size: 1.75em;
    color: #76ff03;
}

.tabs.is-toggle a {
  border: 2px solid #dbdbdb;
  margin-bottom: 0;
  position: relative;
}

.tabs.is-toggle a:hover {
  background-color: none;
  border-color: #76ff03;
  z-index: 2;
  color: #76ff03;
}

#episode-tabs {
	margin-top: -6%;
}

/******************************************
       Code Test Star Wars Animation
******************************************/

@keyframes star {
  0% {
    opacity: 0;
    transform: scale(3) translateY(-3em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(2) translateY(-1.5em);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(3) translateY(3em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(2) translateY(1.5em);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}

.starwars-animation {
  perspective: 800px;
  transform-style: preserve3d;
}

/****************************************
		      Code Test Hero Two
           Search && Detail
****************************************/
#hero2-background {
	background-image: url("/img/darth-vader-wallpaper.jpg");
}

.star-wars-footer {
	max-height: 2em;
	background-color: rgba(38, 38, 38, .8);
}

.results-panel-title {
	font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  color: #a6a6a6;
  letter-spacing: 2px;
  text-align: center;
}

.display-results-center {
  margin-left: auto;
  margin-right: auto; 
}

#search-results-body {
  text-align: center !important;
  margin-top: 2%;
  font-size: 1.5em;
  color: #a6a6a6;
  font-family: 'Oswald', sans-serif;
}

.panel-heading {
  background-color: rgba(0, 0, 0, .9);
  border-radius: 3px 3px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.5em 0.75em;
}

.panel-heading,
.panel-tabs,
.panel-block {
  border-bottom: 2px solid #ff0101;
  border-top: 2px solid #ff0101;
  background-color: rgba(0, 0, 0, .9);
}

#episode-details-list {
  font-size: 1.3em;
  color: #a6a6a6;
  font-family: 'Oswald', sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
}

.details-info-caption {
  letter-spacing: 2px;
  font-weight: bold;
}

#scroll-up,
#return-to-search {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
}

.footer-bright-color-text {
  color: #00d1b2;
  font-size: 1.25em;
  font-weight: bold;
}