<header id="searchHeader">
	<div id="searchIconDiv"><i id="searchIcon" class="material-icons">visibility</i></div>
	<h1 id="searchPage">Search Page</h1>
</header>
<body ng-controller= "SearchController as search" class="container">
       <div>
          	<input id="searchInput" ng-model="search.movie" type="text" placeholder="Enter Movie Title:">
          	<a id="searchButton" class="btn-floating btn-large waves-effect waves-light red z-depth-4" ng-click="search.inputResults(search.movie)"><i class="material-icons">add</i></a>
        </div>	
    <br>
    <div id="largeSearchPanel"  class="panel panel-default z-depth-5">
        <div id="searchPanel" class="panel-heading lead text-center">Search Results For: {{search.searchInput.title}}</div>
        <div class="panel-body">
			<div class="row">
				<div id="smallPanelBody" class="panel panel-default col-sm-4 z-depth-4" ng-repeat="x in search.movieData.data.Search">
		        	<div id="smallPanel" class="panel-heading lead text-center">{{x.Title}}</div>
			        	<div  class="panel-body text-center">
				        	<img src="{{x.Poster}}">
				        	<p id="p1">{{x.Title}}</p>
				        	<p id="p2">{{x.Year}}</p>
				            <h1></h1>
				            <a id="goToDetail" ui-sref="detail({imdbID: x.imdbID})">Go To Detail Page</a>
				        </div>    
		        </div>
		    </div>        
        </div>
    </div>
</body>
